@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 25px;
  font-family: "Poppins", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 20px 25px;
}

.title {
  width: 80%;
}

.target {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #252525;
  width: 80%;
}

.num {
  font-size: 1.3rem;
}

.img {
  width: 100%;
}

@media (min-width: 930px) {
  .grid-item {
    flex-direction: row;
  }

  .title {
    font-size: 3rem;
  }

  .target {
    gap: 20px;
  }
}
