@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  text-align: start;
  padding: 10px 30px;
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 25px;
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 25px;
}

.text-cont {
  display: flex;
  gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 20px;
}

hr {
  border: none;
  background-color: #000;
  width: 30px;
  height: 100%;
  border-radius: 3px;
}

.img-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.img-1 img:nth-child(1) {
  width: 15%;
  position: absolute;
  top: -8%;
  left: 83%;
}

.img-1 img:nth-child(2) {
  width: 100%;
}

.lst-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lista {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.item-lst {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

.item-lst h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.item-lst:nth-child(2) {
  background-color: #e2e7f1;
}

.item-lst:nth-child(4) {
  background-color: #e2e7f1;
}

@media (min-width: 930px) {
  .tab {
    text-indent: 4em;
  }

  .grid-item {
    margin: 45px auto;
    flex-direction: row;
  }

  .info-1 {
    width: 55%;
  }

  .info-1 h1 {
    font-size: 3rem;
  }

  .text-cont {
    width: 80%;
    margin-left: 13%;
  }

  hr {
    border: none;
    background-color: #000;
    width: 15px;
    height: 170px;
    border-radius: 3px;
  }

  .lst-cont {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .lista {
    flex-direction: row;
  }
}
