@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #252525;
  background-image: url("imgs/da1.png");
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
}

.btn {
  text-align: center;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  gap: 20px;
}

.info-1 h1 {
  font-weight: 450;
}

.div-img-1 {
  display: flex;
  justify-content: center;
  height: 50vh;
  position: relative;
}

.img-a {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
}

.img-b {
  width: 70%;
  height: 85%;
}

.img-c,
.img-d {
  position: absolute;
}

.img-c {
  width: 12%;
  left: 21%;
}

.img-d {
  width: 15%;
  bottom: 8%;
  left: 77%;
}

.lista {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}

.item-lst {
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
}

@media (min-width: 930px) {
  .grid-item {
    flex-direction: row;
    justify-content: space-around;
  }

  .info-1 {
    align-items: start;
    width: 40%;
    text-align: start;
  }

  .info-1 h1 {
    font-size: 2.5rem;
  }

  .div-img-1 {
    width: 40%;
    height: 100%;
    align-items: center;
  }

  .img-a {
    width: 100%;
    height: 100%;
  }

  .img-b {
    width: 50%;
    height: 85%;
  }

  .img-c {
    left: 23%;
    bottom: 82%;
  }

  .lista {
    flex-direction: row;
  }

  .itm-2 {
    display: flex;
    justify-content: start;
    margin-left: 60px;
  }

  .item-lst {
    width: 30%;
  }
}
