* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 25px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}

.target {
  width: 100%;
  height: 400px;
}

.img {
  width: 315px;
  height: 402px;
}

.num {
  color: #252525;
  font-size: 1.5rem;
}
